<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="UserResultMap" type="com.example.demo.model.User">
        <id property="id" column="id" />
        <result property="account" column="account" />
        <result property="name" column="name" />
        <result property="password" column="password" />
        <result property="age" column="age" />
        <result property="create_time" column="create_time" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="insertUser" >
        INSERT INTO USER(name, account,password,age)
        VALUES (#{user.name}, #{user.account},#{user.password},#{user.age})
    </insert>

    <select id="findByName" resultMap="UserResultMap">
        SELECT * FROM USER WHERE name = #{name}
    </select>

    <select id="showUserList" resultMap="UserResultMap">
        SELECT * FROM USER
    </select>

</mapper>